[submodule "themes/hugo-artists-theme"]
	path = themes/hugo-artists-theme
	url = https://github.com/digitalcraftsman/hugo-artists-theme
[submodule "themes/pickles"]
	path = themes/pickles
	url = https://github.com/mismith0227/hugo_theme_pickles.git
[submodule "themes/meghna-hugo"]
	path = themes/meghna-hugo
	url = https://github.com/themefisher/meghna-hugo
